.firstTime {
  display: flex;
  flex-flow: column;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #233342;
}

.title {
  text-align: center;
  margin: 10px 0 5px 0;
  color: #fff;
}
