p {
  margin: 0;
}

.Bubble {
  padding: .5rem;
  font-size: 1rem;
}

.Owner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.NotOwner{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.BubbleMessage {
  padding: .3rem .6rem;
  color: #fff;
  border-radius: .2rem;
  position: relative;
  max-width: calc(100% - 5.5rem);
  display: flex;
  flex-direction: column;
}

.Owner .BubbleMessage {
  background-color: #3571a7;
  color: #fff;
  margin-right: 5px;
}

.NotOwner .BubbleMessage {
  margin-left: 5px;
  background-color: #33393f;
}

.Owner .BubbleMessage:after {
  content: '';
  display: block;
  border: 5px solid transparent;
  border-left: 5px solid #3571a7;
  position: absolute;
  bottom: 10px;
  right: -9px;
}

.NotOwner .BubbleMessage:before {
  content: '';
  display: block;
  border: 5px solid transparent;
  border-right: 5px solid #33393f;
  position: absolute;
  bottom: 10px;
  left: -9px;
}

.Checkmark{
  display: none;
}

.UserName {
  font-weight: bold;
  color: #efb05d;
  margin-bottom: .4rem;
  font-size: .8rem;
}

.Owner .UserName {
  color: #fff;
}

.Owner .Checkmark{
  display: inline-block;
  padding-right: .4rem;
}
.Avatar {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.Avatar img {
  width: 110%;
}

.MessageDate {
  font-size: .7rem;
  align-self: flex-end;
  padding-left: 20px;
}

.Message {
  display: inline-block;
  word-break: break-word;
}
