.footer {
  display: flex;
  align-items: center;
  background-color: #233342;

  padding: 3px 0 3px 0;

}

.messageInput {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.messageInput:first-child {
  flex: 2;
}
